<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>栅格布局</title>
    <script type="text/javascript" src="/js/common/header.js"></script>
</head>
<body>
<div class="row">
    <div class="box-inside">
        <div class="box-header">
            <h4>box-header</h4>
        </div>
        <div class="box-content clearfix">
            <div class="row">
                <div class="col-md-5">5</div>
                <div class="col-md-5">5</div>
                <div class="col-md-2">2</div>
            </div>
            <div class="row ">
                <div class="col-md-4">4</div>
                <div class="col-md-4">4</div>
                <div class="col-md-4">4</div>
            </div>
            <div class="row">
                <div class="col-md-6">6</div>
                <div class="col-md-6">6</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>