<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="Plane UI" />
    <meta name="keywords" content="Plane UI" />
    <title>用户菜单</title>

    <link rel="icon" type="image/png" href="../../../resources/frame/planeui/login/images/favicon.png" />
    <script src="../../../js/common/header.js"></script>
    <!--<link rel="stylesheet" href="./../../dist/css/planeui.css" />-->
    <style>
        html, body {width:100%;height:100%;overflow: hidden;}
        .pui-layout {height: 100%;}
        .sider {overflow: auto;height: 100%;width : 100%;padding: 2rem;}
        .sider li a {font-size: 1.8rem;}

        @media only screen and (min-width: 1000px) {
            .sider {
                width: 18%;
                border-right: 1px solid #ddd;
            }

            .sider li a {font-size: 14px;}
        }
    </style>
</head>
<body>
<div class="pui-layout page-header" style="position:static;box-shadow:none;top:0px;left:0px;z-index:999;height: 66.8px;">
    <div class="pui-layout pui-full-width" style="padding-left: 40px;padding-right: 40px;/*padding-top: 20px;*/">
        <div class="pui-menubar pui-menubar-square pui-menubar-header-style pui-bg-none pui-unbordered">
            <div class="pui-menubar-aside logo" style="border-left: 30px;"></div>
            <div class="pui-menubar-offside" style="padding-top:15px;padding-right:15px;">
                <ul class="pui-menu pui-menu-inline pui-menu-simple pui-right">
                    <li class="fa fa-user icon-header" title="用户信息" onclick="indexModel.userInfo()"></li>
                    <li class="fa fa-bell icon-header" title="消息提醒" onclick="">
                        <span class="pui-badge pui-badge-error pui-badge-circle" style="display:none" id="messSpan">用户</span>
                    </li>
                    <li class="fa fa-folder icon-header" title="我的收藏" onclick=""></li>
                    <li class="fa fa-power-off icon-header" style="padding-left:15px;" title="退出登录" onclick=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="pui-layout pui-flexbox" style="border-color: #00d95a">

    <div class="sider">
        <h4 class="h4">用户菜单</h4>
        <h5>基本信息</h5>
        <ul>
            <li>
                <a href="userinfo.html">用户信息</a>
            </li>
            <li>
                <a href="collection.html">用户收藏</a>
            </li>
            <li>
                <a href="list.html">列表 List</a>
            </li>
            <li>
                <a href="grid.html">网格布局 Grid Layout</a>
            </li>
            <li>
                <a href="flexbox.html">Flexbox 弹性布局 Flexible Box Layout</a>
            </li>
            <li>
                <a href="table.html">表格 Table</a>
            </li>
            <li>
                <a href="font-face.html">字体 Font Face</a>
            </li>
            <li>
                <a href="animation.html">过渡与动画 Animations</a>
            </li>
        </ul>
        <h5>Material Design 元素</h5>
        <ul>
            <li>
                <a href="material-design-colors.html">Material Design Colors</a>
            </li>
            <li>
                <a href="material-design-zdepths.html">Material Design Z-Depth</a>
            </li>
        </ul>
        <h5>Web 页面组件</h5>
        <ul>
            <li>
                <a href="menu.html">菜单 Menu</a>
            </li>
            <li>
                <a href="form.html">表单及元素 Form</a>
            </li>
            <li>
                <a href="button.html">按钮 Button</a>
            </li>
            <li>
                <a href="button-sheet.html">按钮式表格 Button sheet</a>
            </li>
            <li>
                <a href="switch.html">开关按钮 Switch Button</a>
            </li>
            <li>
                <a href="list-view.html">列表视图 ListView</a>
            </li>
            <li>
                <a href="progress.html">进度条 Progress</a>
            </li>
            <li>
                <a href="ring-progress.html">圆形与圆环进度条 Ring Progress</a>
            </li>
            <li>
                <a href="top10.html">排行列表 Top 10</a>
            </li>
        </ul>
        <h5>JavaScript 组件</h5>
        <ul>
            <li>
                <a href="form-validator.html">表单验证 Form Validator</a>
            </li>
            <li>
                <a href="draggable.html">拖放 Draggable</a>
            </li>
            <li>
                <a href="dialog.html">对话框 Dialog</a>
            </li>
            <li>
                <a href="tab.html">选项卡 Tab</a>
            </li>
            <li>
                <a href="tooltip.html">提示层 Tooltip</a>
            </li>
            <li>
                <a href="screen-responsive.html">屏幕尺寸监测 Response Size</a>
            </li>
            <li>
                <a href="scrollto.html">锚点及位置滚动 ScrollTo</a>
            </li>
            <li>
                <a href="hover-scroll.html">Hover Scroll</a>
            </li>
            <li>
                <a href="material-design-color-picker.html">颜色选择器 (Material Design) Color Picker</a>
            </li>
        </ul>
        <h5>插件</h5>
        <ul>
            <li>
                <a href="./../fullpage/index.html">Full Pager</a>
            </li>
            <li>
                <a href="scrollbar.html">自定义滚动条</a>
            </li>
        </ul>
    </div>
    <div class="pui-flex pui-xs-hide pui-sm-hide pui-md-hide" style="height:100%;">
        <iframe src="userinfo.html" frameborder="0" style="width:100%;height:100%;" name="viewer"></iframe>
    </div>
</div>


<!--[if (gte IE 9) | !(IE)]><!-->
<script type="text/javascript" src="./js/jquery-2.1.1.min.js"></script>
<!--<![endif]-->

<!--[if lt IE 9]>
<script type="text/javascript" src="./js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="./../../dist/js/planeui.patch.ie8.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script type="text/javascript" src="./../../dist/js/planeui.patch.ie9.js"></script>
<![endif]-->
<script type="text/javascript" src="./../../dist/js/planeui.js"></script>
<script type="text/javascript">
    function reset() {
        var linkTags = $("a");

        if ($(window).width() > 1000) {
            linkTags.attr("target", "viewer");
        } else {
            linkTags.attr("target", "");
        }
    }

    $(function() {
        reset();

        $(window).resize(reset);
    });
</script>
</body>
</html>