<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sandi.web.dao.IAuthorityDao" >
    <resultMap id="ResultMap" type="com.sandi.web.model.Authority" >
        <id column="authorityId" property="authorityId" jdbcType="INTEGER" />
        <result column="authorityName" property="authorityName" jdbcType="VARCHAR" />
        <result column="authorityNote" property="authorityNote" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        authorityId, authorityName, authorityNote
    </sql>

    <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from authority
        where authorityId = #{authorityId,jdbcType=INTEGER}
    </select>
    <select id="selectByAdminNameAndAdminPass" resultMap="ResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from authority
        where authorityName = #{authorityName,jdbcType=VARCHAR}
    </select>
    <delete id="deleteAdminByAdminStatus" parameterType="java.lang.Integer" >
        delete from authority
        where authorityId = #{authorityId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="authorityId" parameterType="com.sandi.web.model.Authority" >
        insert into authority (authorityName, authorityNote)
        values (#{authorityName,jdbcType=VARCHAR}, #{authorityNote,jdbcType=VARCHAR})
    </insert>
    <insert id="insertAdminByAdminId" parameterType="com.sandi.web.model.Authority" >
        insert into authority
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="authorityId != null" >
                authorityId,
            </if>
            <if test="authorityName != null" >
                authorityName,
            </if>
            <if test="authorityNote != null" >
                authorityNote,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="authorityId != null" >
                #{authorityId,jdbcType=INTEGER},
            </if>
            <if test="authorityName != null" >
                #{authorityName,jdbcType=VARCHAR},
            </if>
            <if test="authorityNote != null" >
                #{authorityNote,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateAdminByAdminId" parameterType="com.sandi.web.model.Authority" >
        update authority
        <set>
            <if test="authorityName != null" >
                authorityName = #{authorityName,jdbcType=VARCHAR},
            </if>
            <if test="authorityNote != null" >
                authorityNote = #{authorityNote,jdbcType=VARCHAR},
            </if>
        </set>
        where authorityId = #{authorityId,jdbcType=INTEGER}
    </update>
</mapper>